.grid {
  display: grid;
  gap: 2.5rem;
  align-items: flex-start;
  max-width: 64rem;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 1024px) {
  .grid {
    grid-template-columns: 2fr 1fr;
  }
}

.summaryContainer {
  position: sticky;
  top: 6rem; /* altura do header + padding */
}

.summaryTitle {
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
