.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  min-height: 70vh;
  padding: 1rem;
}

.content {
  max-width: 48rem;
}

.title {
  font-size: 3rem;
  line-height: 1.1;
  letter-spacing: -0.05em;
  background: var(--primary-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 1.5rem;
}

@media(min-width: 768px) {
  .title {
    font-size: 4rem;
  }
}

.description {
  font-size: 1.125rem;
  color: hsl(var(--muted-foreground));
  max-width: 38rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2.5rem;
}

.buttonContainer {
  max-width: 15rem;
  margin: 0 auto;
}
